.home-page {
  padding: 0!important;
  margin: 0!important;
}

.home-page .left {
  width: 20%!important;
  box-sizing: border-box!important;
}

.home-page .right {
  box-sizing: border-box;
  padding: 20px;
  width: 80%!important;
  display: flex!important;
  flex-direction: column;
  align-items: center!important;
}

.container {
  margin: 0px 0px!important;
}